body{
    color: rgba(0,0,0,0);
    min-height:100%;
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(/bg-image-3.jpg);
    background-size:cover;
    height: 100vh;
  }
.btn-secondary{
    background: rgb(17,5,230);
    background: linear-gradient(90deg, rgba(17,5,230,1) 4%, rgba(142,11,186,1) 17%, rgba(214,6,124,1) 50%, rgba(227,70,24,1) 91%);
}
.btn-outline-secondary:hover{
    background: rgb(17,5,230);
background: linear-gradient(90deg, rgba(17,5,230,1) 0%, rgba(227,80,24,1) 0%);
}
.section1{
    background: rgb(17,5,230);
   color: white;
background: linear-gradient(90deg, rgba(17,5,230,1) 0%, rgba(52,24,227,1) 0%, rgba(0,0,0,1) 23%, rgba(0,0,0,1) 81%, rgba(149,1,70,1) 100%);
}