body{
    color: rgba(0,0,0,0);
    min-height:100%;
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(/images/bg-image-3.jpg);
    background-size:cover;
    height: 100vh;
  }
.btn-secondary{
   
background: rgb(17,5,230);
background: linear-gradient(90deg, rgba(17,5,230,1) 0%, rgba(49,24,227,1) 0%, rgba(255,24,132,1) 53%); 
}
.btn-outline-secondary:hover{
    background: rgb(17,5,230);
background: linear-gradient(90deg, rgba(17,5,230,1) 0%, rgba(227,80,24,1) 0%);
}
.section1{
    background: rgb(17,5,230);
   color: white;
background: linear-gradient(90deg, rgba(17,5,230,1) 0%, rgba(52,24,227,1) 0%, rgba(0,0,0,1) 23%, rgba(0,0,0,1) 81%, rgba(149,1,70,1) 100%);
}
.bi-activity{
    font-size: 5em;
    padding-left: 60px;
}
.bi-map{
    font-size: 5em;
    padding-left: 70px;
}
.my-2:hover{
    background-color: #0d6efd;
    gap: 50px;
}
.container:hover{
    transition: transform 0.65s cubic-bezier(0.05, 0.2, 0.1, 1), box-shadow 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
    position: relative;
    z-index: 2;
}
}